<div class="container py-5 px-4">
  <div class="row rounded-lg overflow-hidden shadow">
    <!-- Users box-->
    <div class="col-5 px-0">
      <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">Recent</p>
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0" *ngFor="let user of users">
            <a (click)="onUserSelect(user)"
              class="list-group-item list-group-item-action rounded-0" [class.active]="user===selectedUser" style="cursor: pointer;">
              <div class="media align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                  alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between ">
                    <h6 class="mb-0">{{user.username}}</h6>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-7 px-0" *ngIf="selectedUser !== null">
      
      <div class="px-4 py-5 chat-box bg-white">
        <!-- <h3 class="bg-gray bg-light">{{selectedUser.username}}</h3> -->
        <!-- <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">{{selectedUser.username}}</p>
        </div> -->
        
        <div *ngFor="let msg of messageHistory">
          <!-- Sender Message-->
          <div class="media w-50 mb-3" *ngIf="msg.from !== userId && msg.from === selectedUser.userId">
            <img
              src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50"
              class="rounded-circle">
            <div class="media-body ml-3">
              <div class="bg-light rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-muted">{{msg.message}}</p>
              </div>
            </div>
          </div>

          <!-- Reciever Message-->
          <div class="media w-50 ml-auto mb-3" *ngIf="msg.from === userId && msg.to === selectedUser.userId">
            <div class="media-body">
              <div class="bg-primary rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-white">{{msg.message}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Typing area -->
      <div class="bg-light">
        <div class="input-group">
          <input [(ngModel)]="message" type="text" placeholder="Type a message"
            class="form-control rounded-0 border-0 py-4 bg-light">
          <div class="input-group-append">
            <button (click)="sendMessage()" class="btn btn-link">Send</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>